<app-header></app-header>

<div class="content" role="main">
  <div class="mainBloc">
    <h1>myTodos</h1>
    <form #myForm (ngSubmit)="addTodoItem(newTodo.value)">
      <input #newTodo type="text" class="newTodo" placeholder="What needs to be done?">
      <select name="category" [(ngModel)]="selectedCategory" class="category" (change)="updateCategory()">
        <option *ngFor="let category of categories" (value)="category">{{category}}</option>
      </select>
    </form>
    <div class="todoList">
      <app-todo-item *ngFor="let todo of todosListToShow" [category]="selectedCategory" [item]="todo" (completionEvent)="updateTodoItem($event)"></app-todo-item>
    </div>
    <div *ngIf="allTodos.length > 0" class="actionsBloc">
      <div class="itemCount">{{todosListToShow.length}} items left</div>
      <div class="filters">
        <span (click)="filter('all')" [class]=" selectedFilter === 'all' ? 'active' : ''">All</span>
        <span (click)="filter('active')" [class]=" selectedFilter === 'active' ? 'active' : ''">Active</span>
        <span (click)="filter('completed')" [class]=" selectedFilter === 'completed' ? 'active' : ''">Completed</span>
      </div>
      <div class="clearCompleted">Clear completed</div>
    </div>
  </div>
</div>

<app-footer></app-footer>
